<footer class="mt-auto pt-3 bg-secondary bg-dark text-white shadow-sm">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-md-8">
        <h3 class="fst-italic" style="font-family: Georgia, serif;">長野県にある小さな洋菓子店<br>「ながのCAKE」</h3>
      </div>
      <div class="col-md-4 ">
        <ul class="list-unstyled"  style="text-align: right; cursor: pointer;">
          <li class="mb-2">お店の概要 <i class="fa-sharp fa-solid fa-store"></i><i class="fa-regular fa-cake-slice"></i></li>
          <li class="mb-2">プライバシーポリシー <i class="fa-solid fa-handshake-simple"></i></li>
          <li>新着情報 <i class="fa-solid fa-mug-saucer"></i></li>
        </ul>
        <ul class="list-unstyled mt-2" style="text-align: right; cursor: pointer;">
          <li>Twitter <i class="fa-brands fa-twitter"></i></li>
          <li>Instagram <i class="fa-brands fa-instagram"></i></li>
          <li>FaceBook <i class="fa-brands fa-facebook"></i></li>
          <li>YouTube <i class="fa-brands fa-youtube"></i></li>
        </ul>
      </div>
      <div class="col-md-12 mx-auto text-center">
        <p class="py-2">&copy;NAGANO CAKE ANPANMAN<i class="fa-solid fa-bread-slice"></i></p>
      </div>
    </div>
  </div>
</footer>