<footer class="mt-auto pt-3 bg-secondary bg-gradient text-white shadow-sm" style="opacity: 0.7;">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-md-8">
        <h3 class="fst-italic" style="font-family: Georgia, serif;">長野県にある小さな洋菓子店<br>「ながのCAKE」</h3>
      </div>
      <div class="col-md-4 ">
        <ul class="list-unstyled"  style="text-align: right;">
          <li class="mb-2" style="cursor: pointer;">お店の概要 <i class="fa-sharp fa-solid fa-store"></i><i class="fa-regular fa-cake-slice"></i></li>
          <li class="mb-2" style="cursor: pointer">プライバシーポリシー <i class="fa-solid fa-handshake-simple"></i></li>
          <li style="cursor: pointer">新着情報 <i class="fa-solid fa-mug-saucer"></i></li>
        </ul>
      </div>
      <div class="col-md-12 mx-auto text-center">
        <p class="py-2">&copy;NAGANO CAKE ANPANMAN<i class="fa-solid fa-bread-slice"></i></p>
      </div>
    </div>
  </div>
</footer>