<footer class="mt-auto pt-5 bg-dark text-white">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-8">
        <h2 class="fst-italic" style="font-family: Georgia, serif;">長野県にある小さな洋菓子店「ながのCAKE」</h2>
      </div>
      <div class="col-md-4 ">
        <ul class="p-0 list-unstyled">
          <li class="mb-2">お店の概要</li>
          <li>プラーバシーポリシー</li>
        </ul>
      </div>
      <div class="col-md-12 mx-auto text-center">
        <p class="py-5">@NAGANO CAKE ANPAN</p>
      </div>
    </div>
  </div>
</footer>